.layout {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #0b213c;
  color: white;
  padding: 20px;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar-link {
  color: white;
  text-decoration: none;
}

.sidebar-link:hover {
  text-decoration: underline;
  text-decoration-color: #04c204;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.logout-button {
  margin-top: 30px;
  background-color: #25c90c;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c82333;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  background-color: #f4f4f4;
  
}

/* Top Header */
.top-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('../../Assets/banner.webp') no-repeat center center;
  background-size: cover;
  padding: 20px;
  color: white;
  z-index: 1;
  overflow: hidden;
  height: 60px;
}

.top-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.top-header > * {
  position: relative;
  z-index: 2;
}

.search-container {
  position: relative;
  width: 30%;
  display: flex;
}

.search-bar {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #15bf03;
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* Admin Stats Cards */
.admin-welcome {
  margin: 30px 0 20px;
  color: #0b213c;
}

.admin-stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.admin-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: #0b213c;
  text-align: center;
}
